.container {
    margin-top: 15px;
    margin-bottom: 15px;
}
// h1{
//     text-align: center; color: rgb(0, 0, 0); 
// }

.inicio{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(115, 114, 114, 0.725);
    cursor: pointer;
    text-decoration: none;
}

.inicio:hover {
    color: rgba(255, 255, 255, 0.717);
}

.boton {
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(115, 114, 114, 0.725);
    cursor: pointer;
    background-color: orange;
}

.boton:hover {
    color: rgba(255, 255, 255, 0.717);
}

.body-contact{
    background-color: rgba(0, 0, 0, 0.53);
    font-weight: bold;
    color: violet;
}


