.skills{
    text-align: center;
    position: center;
    p{
        color: violet;
        letter-spacing: 2px;
        margin: 10px;
    }
}

#title-skills{
    background-color: black;
    margin-top: 15px;
    font-size: 35px;
}