@import "_variables.scss";

.skills{
    text-align: center;
    position: center;
    p{
        color: $color1;
        letter-spacing: 2px;
        margin: 10px;
    }
}

#title-skills{
    background-color: $background;
    margin-top: 15px;
    font-size: 35px;
}

.btnS{
    background-color: $color1 !important;
        border-radius: 5px;
        border: 2px solid $dark;
        color: $dark;
    
}

.btnS a{
    text-decoration: none;
    color: $color2;
}