
/*colors*/
$dark:#0E5E6F;
$background: #222831;
$white:#EEEEEE;
$color1:#00ADB5;
$color2:#393E46;


/*Font family*/
$principal:'Roboto Mono', monospace;
$sub-titulos:'Open Sans Condensed', sans-serif;
$contenidos:"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
$detalles:"Work sans", sans-serif;


/*Medidas*/
$width-mobile:15rem;
$radius-mobile:.5rem;
$padding-mobile:.2rem;
$font-size-mobile:.9rem;
$font-size-mobile-special:.75rem;
$margin-mobile:.2rem;