@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap");
/*font-family: 'Roboto Condensed', sans-serif*/
body {
  background-color: black;
}

.card1 {
  width: 90%;
  margin-bottom: 5px;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 0.5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border: 2px solid orange;
  border-radius: 10px;
  box-shadow: 0 0 12px #000;
  cursor: pointer;
  transition: transform 0.3s;
}
.card1 p {
  font-size: 20px;
  margin-bottom: 15px;
}

.card1:hover {
  transform: scale(1.05);
}

.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.462), rgba(0, 0, 0, 0.462)), url(./img/city-ga584cc708_1920.jpg);
  background-size: cover;
  height: 400px;
  background-position: center;
  color: violet;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
  margin-bottom: 0;
  border-radius: 0cm;
}
.jumbotron button {
  background-color: violet !important;
  border-radius: 5px;
  border: 2px solid #000;
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

h3 {
  background-color: rgb(255, 179, 0);
  color: violet;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.nleft {
  padding: 20px;
  background-color: black;
  color: white;
}
.nleft p {
  text-align: justify;
  padding: 10px;
}
.nleft h4::after {
  content: " ? ";
  color: violet;
}
.nleft h4 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
.nleft button {
  background-color: violet !important;
  border-radius: 5px;
  border: 2px solid #000;
  color: black;
}

.nright {
  height: 450px;
  background-image: url(./img/waterfall-g9c4bf7c76_1920.jpg);
  background-size: cover;
  background-position: center;
  background-color: tomato;
  border: 2px solid #000;
  box-shadow: 0 0 12px #000;
  cursor: pointer;
  padding: 15px;
}

.margen {
  margin: 20px;
}

.margen-sm {
  margin: 10px;
}

.separation {
  background-color: rgb(255, 179, 0);
  height: 3px;
  width: 70%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.go-up {
  height: 50px;
  width: 50px;
  background-color: black;
  border: 2px solid violet;
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: violet;
  text-align: center;
  font-size: 30px;
  line-height: 45px;
  border-radius: 30px;
  box-shadow: 0 0 0.5 #fff;
  transition: transform 0.3;
}
.go-up i:hover {
  color: rgba(238, 130, 238, 0.899);
  text-shadow: 0 0 5px rgba(255, 166, 0, 0.681);
  transform: scale(1.25);
}

.go a {
  color: violet;
  text-decoration: none;
  transition: transform 0.3s;
}
.go a:hover {
  transform: scale(1.3);
}

.gallery {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 350px);
  grid-template-areas: "img3 img3" "img1 img1" "img7 img7";
  padding: 25px;
}

.item {
  background-color: tomato;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0 0 12px #000;
  cursor: pointer;
}

.item1 {
  grid-area: img1;
  background-image: url(./img/tree-g6eb4f1bdd_1920.jpg);
  background-size: cover;
  background-position: center;
}

.item2 {
  grid-area: img2;
  background-image: url(./img/city-ga584cc708_1920.jpg);
  background-size: cover;
  background-position: center;
}

.item3 {
  grid-area: img3;
  background-image: url(./img/timeIsNow.jpg);
  background-size: cover;
  background-position: center;
}

.item4 {
  grid-area: img4;
  background-image: url(./img/microphone-g824cae0b2_1920.jpg);
  background-size: cover;
  background-position: center;
}

.item5 {
  grid-area: img5;
  background-image: url(./img/city-ga841cfdf9_1920.jpg);
  background-size: cover;
  background-position: center;
}

.item6 {
  grid-area: img6;
  background-image: url(./img/dog-gbd9b9a22c_1920.jpg);
  background-size: cover;
  background-position: center;
}

.item7 {
  grid-area: img7;
  background-image: url(./img/board-g071e8d9a2_1920.jpg);
  background-size: cover;
  background-position: center;
}

.zoom {
  transition: transform 0.3s;
}

.zoom:hover {
  transform: scale(1.1);
}

@media only screen and (min-width: 768px) {
  .gallery {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 350px);
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img7 img7";
    grid-gap: 25px;
    padding: 25px;
  }
  .separation {
    width: 60%;
  }
  .card {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  .gallery {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas: "img1 img3 img3 img2" "img1 img7 img7 img2" "img5 img5 img4 img6";
    grid-gap: 25px;
    padding: 25px;
  }
  .separation {
    width: 45%;
  }
  .card {
    width: 30%;
  }
}
.btn a {
  text-decoration: none;
  color: black;
}

.map {
  margin: 0.5rem;
}

.maps iframe {
  height: 100%;
  width: 100%;
  opacity: 0.9;
  border-radius: 0.5rem;
}

.like1-left {
  padding: 20px;
  background-color: black;
  color: white;
}
.like1-left p {
  text-align: justify;
  padding: 10px;
}
.like1-left h4::before {
  content: "💻";
  color: violet;
}
.like1-left h4 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.like1-right {
  height: 600px;
  background-image: url(./img/fondo.jpg);
  background-size: cover;
  background-position: center;
  border: 2px solid #000;
  box-shadow: 0 0 12px #000;
  padding: 15px;
}

.like2-left {
  padding: 20px;
  background-color: black;
  color: white;
}
.like2-left p {
  text-align: justify;
  padding: 10px;
}
.like2-left h4::before {
  content: "🔊";
  color: violet;
}
.like2-left h4 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

.like2-right {
  height: 600px;
  background-image: url(./img/migos.jpg);
  background-size: cover;
  background-position: center;
  border: 2px solid #000;
  box-shadow: 0 0 12px #000;
  padding: 15px;
}

.like3-left {
  padding: 20px;
  background-color: black;
  color: white;
}
.like3-left p {
  text-align: justify;
  padding: 10px;
}
.like3-left h4::after {
  content: "🏆⚽";
  color: violet;
}
.like3-left h4 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
.like3-left button {
  background-color: violet !important;
  border-radius: 5px;
  border: 2px solid #000;
  color: black;
}

.like3-right {
  height: 550px;
  background-image: url(./img/laBandaDelParque.jpg);
  background-size: cover;
  background-position: center;
  border: 2px solid #000;
  box-shadow: 0 0 12px #000;
  padding: 15px;
}

.like4-left {
  padding: 20px;
  background-color: black;
  color: white;
}
.like4-left p {
  text-align: justify;
  padding: 10px;
}
.like4-left h4::before {
  content: "🏀";
  color: violet;
}
.like4-left h4 {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
.like4-left button {
  background-color: violet !important;
  border-radius: 5px;
  border: 2px solid #000;
  color: black;
}

.like4-right {
  height: 600px;
  background-image: url(./img/iverson.jpg);
  background-size: cover;
  background-position: center;
  border: 2px solid #000;
  box-shadow: 0 0 12px #000;
  padding: 15px;
}

.container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.inicio {
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 5px rgba(115, 114, 114, 0.725);
  cursor: pointer;
  text-decoration: none;
}

.inicio:hover {
  color: rgba(255, 255, 255, 0.717);
}

.boton {
  font-weight: bold;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(115, 114, 114, 0.725);
  cursor: pointer;
  background-color: orange;
}

.boton:hover {
  color: rgba(255, 255, 255, 0.717);
}

.body-contact {
  background-color: rgba(0, 0, 0, 0.53);
  font-weight: bold;
  color: violet;
}

.skills {
  text-align: center;
  position: center;
}
.skills p {
  color: violet;
  letter-spacing: 2px;
  margin: 10px;
}

#title-skills {
  background-color: black;
  margin-top: 15px;
  font-size: 35px;
}

footer {
  height: auto;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgb(255, 179, 0);
  margin-top: 1rem;
}
footer p {
  padding-top: 5px;
  color: rgba(238, 130, 238, 0.899);
  text-shadow: 0 0 5px white;
}
footer i {
  letter-spacing: 10px;
  font-size: 40px;
}
footer a {
  color: white;
}
footer a:hover {
  color: violet;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: rgb(255, 179, 0);
}
.navbar a:hover {
  color: violet !important;
}

.navbar-brand {
  color: rgba(238, 130, 238, 0.899) !important;
  text-shadow: 0 0 5px white;
}

.margin-top {
  margin-top: 2.5rem;
}

.margin-bottom {
  margin-bottom: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
